.reGFigure{
    position: absolute;
}

.reGFigure .itemElementOfFigureOne{
    position: absolute;
    top: 40px;
    left: 0px;
}

.reGFigure .itemElementOfFigureTwo{
    position: absolute;
    top: 40px;
    left: 40px;
}

.reGFigure .itemElementOfFigureThree{
    position: absolute;
    top: 40px;
    left: 80px;
}

.reGFigure .itemElementOfFigureFour{
    position: absolute;
    top: 0px;
    left: 0px;
}










.reGFigureLeft{
    position: absolute;
}

.reGFigureLeft .itemElementOfFigureOne{
    position: absolute;
    top: 0px;
    left: 40px;
}

.reGFigureLeft .itemElementOfFigureTwo{
    position: absolute;
    top: 0px;
    left: 0px;
}

.reGFigureLeft .itemElementOfFigureThree{
    position: absolute;
    top: 40px;
    left: 0px;
}

.reGFigureLeft .itemElementOfFigureFour{
    position: absolute;
    top: 80px;
    left: 0px;
}











.reGFigureDown{
    position: absolute;
}

.reGFigureDown .itemElementOfFigureOne{
    position: absolute;
    top: 80px;
    left: 80px;
}

.reGFigureDown .itemElementOfFigureTwo{
    position: absolute;
    top: 40px;
    left: 0px;
}

.reGFigureDown .itemElementOfFigureThree{
    position: absolute;
    top: 40px;
    left: 40px;
}

.reGFigureDown .itemElementOfFigureFour{
    position: absolute;
    top: 40px;
    left: 80px;
}










.reGFigureRight{
    position: absolute;
}

.reGFigureRight .itemElementOfFigureOne{
    position: absolute;
    top: 80px;
    left: 0px;
}

.reGFigureRight .itemElementOfFigureTwo{
    position: absolute;
    top: 80px;
    left: 40px;
}

.reGFigureRight .itemElementOfFigureThree{
    position: absolute;
    top: 40px;
    left: 40px;
}

.reGFigureRight .itemElementOfFigureFour{
    position: absolute;
    top: 0px;
    left: 40px;
}