.reLightningFigure{
    position: absolute;
}

.reLightningFigure .itemElementOfFigureOne{
    position: absolute;
    top: 0px;
    left: 0px;
}

.reLightningFigure .itemElementOfFigureTwo{
    position: absolute;
    top: 40px;
    left: 0px;
}

.reLightningFigure .itemElementOfFigureThree{
    position: absolute;
    top: 40px;
    left: 40px;
}

.reLightningFigure .itemElementOfFigureFour{
    position: absolute;
    top: 80px;
    left: 40px;
}








.reLightningFigureLeft{
    position: absolute;
}

.reLightningFigureLeft .itemElementOfFigureOne{
    position: absolute;
    top: 40px;
    left: 40px;
}

.reLightningFigureLeft .itemElementOfFigureTwo{
    position: absolute;
    top: 40px;
    left: 0px;
}

.reLightningFigureLeft .itemElementOfFigureThree{
    position: absolute;
    top: 80px;
    left: 0px;
}

.reLightningFigureLeft .itemElementOfFigureFour{
    position: absolute;
    top: 80px;
    left: -40px;
}









.reLightningFigureDown{
    position: absolute;
}

.reLightningFigureDown .itemElementOfFigureOne{
    position: absolute;
    top: 80px;
    left: 0px;
}

.reLightningFigureDown .itemElementOfFigureTwo{
    position: absolute;
    top: 40px;
    left: 0px;
}

.reLightningFigureDown .itemElementOfFigureThree{
    position: absolute;
    top: 40px;
    left: -40px;
}

.reLightningFigureDown .itemElementOfFigureFour{
    position: absolute;
    top: 0px;
    left: -40px;
}










.reLightningFigureRight{
    position: absolute;
}

.reLightningFigureRight .itemElementOfFigureOne{
    position: absolute;
    top: 40px;
    left: -40px;
}

.reLightningFigureRight .itemElementOfFigureTwo{
    position: absolute;
    top: 40px;
    left: 0px;
}

.reLightningFigureRight .itemElementOfFigureThree{
    position: absolute;
    top: 0px;
    left: 0px;
}

.reLightningFigureRight .itemElementOfFigureFour{
    position: absolute;
    top: 0px;
    left: 40px;
}