.squareFigure{
    position: absolute;
}

.squareFigure .itemElementOfFigureOne{
    position: absolute;
    top: 0px;
    left: 0px
}

.squareFigure .itemElementOfFigureTwo{
    position: absolute;
    top: 0px;
    left: 40px;
}

.squareFigure .itemElementOfFigureThree{
    position: absolute;
    top: 40px;
    left: 0px;
}

.squareFigure .itemElementOfFigureFour{
    position: absolute;
    top: 40px;
    left: 40px;
}
