
.string {
    display: flex;
    flex-direction: row;
}

.noneActiveElement {
    width: 20px;
    height: 20px;
    background-color: black;
}

.activeElement {
    width: 20px;
    height: 20px;
    background-color: red;
}

.button {
    position: absolute;
    top: 250px;
    left: 300px;
}

.button-left {
    position: absolute;
    top: 330px;
    left: 250px;
}

.button-right {
    position: absolute;
    top: 330px;
    left: 350px;
}

.button-clear {
    position: absolute;
    top: 370px;
    left: 300px;
}

.button-turn {
    position: absolute;
    top: 330px;
    left: 300px;
}