
.string {
    display: flex;
    flex-direction: row;
}


.button {
    position: absolute;
    top: 250px;
    left: 300px;
}

.button-left {
    position: absolute;
    top: 330px;
    left: 250px;
}

.button-right {
    position: absolute;
    top: 330px;
    left: 350px;
}

.button-clear {
    position: absolute;
    top: 370px;
    left: 300px;
}

.button-turn {
    position: absolute;
    top: 330px;
    left: 300px;
}